/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
    padding: 20px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    color: #38bdf8;
    margin-bottom: 10px;
}

/* NAVIGATION */
nav a {
    text-decoration: none;
    color: #cbd5f5;
    margin: 0 10px;
    transition: 0.9s;
}

nav a:hover {
    color: #38bdf8;
}

/* LAYOUT */
main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

/* ARTICLE */
article {
    flex: 2;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
}

/* ASIDE */
aside {
    flex: 1;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
}

/* HEADINGS */
h2 {
    color: #38bdf8;
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    color: #7dd3fc;
}

/* LISTS */
ul, ol {
    margin-left: 20px;
    margin-top: 10px;
}

/* IMAGE */
figure {
    text-align: center;
    margin-bottom: 20px;
}

img {
    border-radius: 50%;
    border: 3px solid #38bdf8;
}

figcaption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #94a3b8;
}

/* LINKS */
aside a {
    display: inline-block;
    margin-bottom: 8px;
    color: #cbd5f5;
    text-decoration: none;
}

aside a:hover {
    color: #38bdf8;
}

/* DESCRIPTION LIST */
dl {
    margin-top: 15px;
}

dt {
    font-weight: bold;
    color: #7dd3fc;
}

dd {
    margin-bottom: 8px;
    margin-left: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid #334155;
    color: #94a3b8;
}

/* HOVER CARD EFFECT */
article:hover, aside:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}